[Desktop Entry]
Name=Valutazione Didattica Prof. Fuser
Type=Link
URL=https://docs.google.com/forms/d/1fCXYJfebMRuIDvCODogjnxCIwjH8ihgdQsXO9fsxI3M/edit?usp=drivesdk
