[Desktop Entry]
Name=Quiz Sistemi Multimediali
Type=Link
URL=https://docs.google.com/forms/d/1_bwO_xaS0OX8XoO6tUeXvyYEqJzFRJheA6nTTajr7eI/edit?usp=drivesdk
