[Desktop Entry]
Name=Modello di Form Publisher
Type=Link
URL=https://docs.google.com/document/d/1WubR7eInFHqbbSnyBLfoHZyuhgCMONd497Z9Nm9MvD8/edit?usp=drivesdk
