[Desktop Entry]
Name=Quiz Azienda e le Reti
Type=Link
URL=https://docs.google.com/forms/d/1oS05mGyB7XiGheaJDc-IpxNQSLMZmYnFE91QJhl9l64/edit?usp=drivesdk
