[Desktop Entry]
Name=Quiz Sistemi Multimediali
Type=Link
URL=https://docs.google.com/forms/d/1gS8l0_hQRUER8q5BfbpvHAuRYESfn7GbyOf60zHj1tk/edit?usp=drivesdk
