[Desktop Entry]
Name=Foglio ore Baronio 2019/2020
Type=Link
URL=https://docs.google.com/spreadsheets/d/1L2Be8RedDauLb_36abw5VtZZCh1QfY7M_ZSwAck28c4/edit?usp=drivesdk
