[Desktop Entry]
Name=Quiz Software e Internet
Type=Link
URL=https://docs.google.com/forms/d/1rd9VKzLTyBgc3s3YC3N9EoOgFN34KbZFc7M3Wxba1tI/edit?usp=drivesdk
